<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/index.css">

    <title>EcoRenda</title>
</head>
<body>
        <img alt="Instagram" id="img-instagram" width="100px" src="./assets/logo_principal_sombra.png"/>
        <div>
            <img class="img-fluid img-manutencao" src="./assets/manutencao.gif" alt="Loading.." />
            <h4>Siga nosso Instagram</h4>
            <div>
                <a href="https://www.instagram.com/eco_renda/" target="_blank">
                    <img alt="Instagram" width="30px" src="./assets/instagram.png"/>
                </a>
            </div>
        </div>
    </body>
</html>